
body{
    margin: 0;
    background: linear-gradient(180deg, #31e2f6, #4a8855);
    font-size: medium;
}

#popular-schools {
    outline-style: none;
    outline-width: thick;
    outline-color: rgb(255, 154, 171);
    padding: 20%;

}

.current-fashions{
    border: 0%;
    width: 325px;
    margin: 30px;
}

.title1{
    text-align: center;
}

.couture{
    font-family: 'Trebuchet MS';
    font-weight: 400;
    color:rgb(80, 47, 112);
}

h2{
    font-family: 'Courier New';
    color: rgb(27, 6, 6);
}

.hover-here{
    color: rgb(255, 71, 212);
    transition: color  0.3s;
}

.hover-here:hover{
    color: rgb(102, 178, 136);
}

h1{
    font-family: 'Times New Roman';
    color: black;
}

.picture{
    margin: 40px;
    width: 50%;
    align-items: center;
    border: 20px rgb(209, 187, 237);
}
